### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [9]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "../Heroes of Pymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [11]:
players = len(purchase_df["Purchase ID"].value_counts())
players

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
# find the number of unique Items
unique_pur = purchase_df["Item Name"].nunique()
unique_pur

179

In [24]:
# find the average price per purchase
avg_price = purchase_df["Price"].mean()
avg_price

3.0509871794871795

In [25]:
#find the total number of purchases
purchase_count = purchase_df["Item ID"].count()
purchase_count

780

In [26]:
#Find the total revenue

In [27]:
total_pur = purchase_df["Price"].sum()
total_pur

2379.77

In [33]:
# Display the above data in a dataframe
new_df = pd.DataFrame({'Number of Unique Items':[unique_pur],
                   'Average Price per Purchase in $':[avg_price], 
                       'Total Number of Purchases':[total_pur],
                       'Total Revenue in $':[total_pur],})
new_df

,Number of Unique Items,Average Price per Purchase in $,Total Number of Purchases,Total Revenue in $
0,179,3.050987,2379.77,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [35]:
# Calculate the number of players in each gender category by count
gender_count = purchase_df["Gender"].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [40]:
# Calculate the number of players in each gender category (percentage)

percent_gen = purchase_df["Gender"].value_counts("Male")*100
percent_gen

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [57]:
# make a different dataframe with just Gender and Price so it is easier to sort
price_df = purchase_df[["Price", "Gender"]]

In [63]:
 #Purchase count by gender
gender_group = price_df.groupby(["Gender"])
gender_count = gender_group.count()
gender_count

                       Price
Gender
Female                   113
Male                     652
Other / Non-Disclosed     15

In [59]:
 #Average purchase price broken by gender
gender_avg = gender_group.mean()
gender_avg

                          Price
Gender
Female                 3.203009
Male                   3.017853
Other / Non-Disclosed  3.346000

In [60]:
# total value of purchases by gender
gender_total_price = gender_group.sum()
gender_total_price

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [61]:
# avg purchase total per person by gender
gender_total_avg = gender_avg_price.sum()
gender_total_avg

Price    9.566862
dtype: float64

In [56]:
new2_df = pd.DataFrame({'Purshase Count by Gender':[gender_count],
                   'Average Purchase Price by Gender':[gender_avg], 
                       'Total Purchase Value by Gender':[gender_total_price],
                       'avg purchase total per person by gender':[gender_total_avg],})
new2_df

,Purshase Count by Gender,Average Purchase Price by Gender,Total Purchase Value by Gender,avg purchase total per person by gender
0,"Empty DataFrame Columns: [] Index: [Female, Ma...",Price Gender ...,"Empty DataFrame Columns: [] Index: [Female, Ma...",Price 9.566862 dtype: float64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [115]:
#Age demographics located below this along with purchasing Analysis (Age)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [65]:
# find the max and min age so you know where to put your bin limits
max_age = purchase_df['Age'].max()
print(max_age)


min_age = purchase_df['Age'].min()
print(min_age)

45
7

In [173]:
#bin the different age groups based on the max and min age
bins = [0,10,14,19,24,29,34,39,46]
age_label = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_df['Age Summary'] = pd.cut(purchase_df['Age'],bins,labels= age_label, include_lowest=True)

#Check and make sure the bins are there
purchase_df.columns

purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Summary
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [107]:
#Take the number of people in each bin and find the percentage of people in the bin compared to the total count
# *100 becuase it is percentage
# use SN to check each entry as being from a different person

bin_1 = purchase_df.groupby(['Age Summary']).get_group(('<10'))
total_1 = len(bin_1['SN'].unique())
bin_1_per = (total_1/total_count)*100

bin_2 = purchase_df.groupby(['Age Summary']).get_group(('10-14'))
total_2 = len(bin_2['SN'].unique())
bin_2_per = (total_2/total_count)*100

bin_3 = purchase_df.groupby(['Age Summary']).get_group(('15-19'))
total_3 = len(bin_3['SN'].unique())
bin_3_per = (total_3/total_count)*100

bin_4 = purchase_df.groupby(['Age Summary']).get_group(('20-24'))
total_4 = len(bin_4['SN'].unique())
bin_4_per = (total_4/total_count)*100

bin_5 = purchase_df.groupby(['Age Summary']).get_group(('25-29'))
total_5 = len(bin_5['SN'].unique())
bin_5_per = (total_5/total_count)*100

bin_6 = purchase_df.groupby(['Age Summary']).get_group(('30-34'))
total_6 = len(bin_6['SN'].unique())
bin_6_per = (total_6/total_count)*100

bin_7 = purchase_df.groupby(['Age Summary']).get_group(('35-39'))
total_7 = len(bin_7['SN'].unique())
bin_7_per = (total_7/total_count)*100

bin_8 = purchase_df.groupby(['Age Summary']).get_group(('40+'))
total_8 = len(bin_8['SN'].unique())
bin_8_per = (total_8/total_count)*100

In [114]:
play_bins=[total_1,total_2,total_3,total_4,total_5, total_6, total_7, total_8]
percent_bins= [bin_1_per,bin_2_per,bin_3_per,bin_4_per,bin_5_per,bin_6_per,bin_7_per,bin_8_per]
percent_bins= [round(x,2) for x in percent_bins]


age_demo = {"Age Summary":age_label,"Total Player Count":play_bins,"Percentage Of Players":percent_bins}
age_demo1 = pd.DataFrame(age_demo)
age_demo1 = age_demo1.set_index('Age Summary')
age_demo1

             Total Player Count  Percentage Of Players
Age Summary
<10                          24                   3.08
10-14                        15                   1.92
15-19                       107                  13.72
20-24                       258                  33.08
25-29                        77                   9.87
30-34                        52                   6.67
35-39                        31                   3.97
40+                          12                   1.54

# Purchasing Analysis (age)

In [179]:
purchase_df["Total Count"] = pd.cut(purchase_df["Age"], bins, labels=age_label)
less_rows = purchase_df[['Total Count','SN', 'Price']]

less_rows_grouped = less_rows.groupby('Total Count')
purchase_counts = less_rows_grouped['Price'].count()
average_prices = round(less_rows_grouped['Price'].mean(),2)
total_spent = round(less_rows_grouped['Price'].sum(), 2)
spending_per_person = round(total_spent/play_bins,2)


summary4 = pd.DataFrame([purchase_counts, average_prices, total_spent, spending_per_person])
summary4b = summary4.T
summary4b.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
summary4b.head(10)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Total Count,,,,
<10,32.0,3.40,108.96,4.54
10-14,19.0,2.68,50.95,3.40
15-19,136.0,3.04,412.89,3.86
20-24,365.0,3.05,1114.06,4.32
25-29,101.0,2.90,293.00,3.81
30-34,73.0,2.93,214.00,4.12
35-39,41.0,3.60,147.67,4.76
40+,13.0,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [140]:
# identify unique screennames
screen_name = purchase_df.groupby(purchase_df["SN"])
screen_name = screen_name["SN"].unique()

# find the amt spent by players on average 
SN_cnt = SN['Age'].count()


SN_avg = round(SN['Price'].mean(),2)


SN_total = SN['Price'].sum()

In [139]:
#find the top five spenders

top_spender = {"SN":ScreenName,"Purchase Count":SNCount,
                 "Average Purchase Price":SNAverage,"Total Purchase Value":SNTotal}
top_spender1= pd.DataFrame(top_spender)
top_spender1= top_spender1.set_index('SN')
top_spender1 = top_spender1.sort_values("Total Purchase Value",ascending=False)
top_spender1 = top_spender1[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]
top_spender1.head(5)

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
[Lisosia93]                 5                    3.79                 18.96
[Idastidru52]               4                    3.86                 15.45
[Chamjask73]                3                    4.61                 13.83
[Iral74]                    4                    3.40                 13.62
[Iskadarya95]               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [164]:
#similar to above calculations find unique items
item_id = purchase_df.groupby(purchase_df['Item ID'])
items = ItemId['Item ID'].unique()

#Perform calculations to obtain purchase count, average item price, and total purchase value
item_name = ItemId["Item Name"].unique()

item_pur_count = ItemId['Age'].count()


item_price= ItemId['Price'].unique()

item_total_pur = ItemId['Price'].sum()
#put the findings into a table
item_table = {'Item ID':Items,'Item Name':item_name,'Item Price':item_price,'Item Count':item_pur_count,'Total Purchase':item_total_pur}
item_table1 = pd.DataFrame(ItemTable)
item_table1 = item_table1.set_index('Item ID')
item_table1= item_table1.sort_values('Item Count', ascending=False)
item_table1 = item_table1[['Item Name','Item Count','Item Price','Total Purchase']]
item_table1.head(5)

,Item Name,Item Count,Item Price,Total Purchase
Item ID,,,,
[92],[Final Critic],13,"[4.88, 4.19]",59.99
[178],"[Oathbreaker, Last Hope of the Breaking Storm]",12,[4.23],50.76
[145],[Fiery Glass Crusader],9,[4.58],41.22
[132],[Persuasion],9,"[3.19, 3.33]",28.99
[108],"[Extraction, Quickblade Of Trembling Hands]",9,[3.53],31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [163]:
most_profit= item_table1.sort_values('Total Purchase', ascending=False)
most_profit.head(5)

,Item Name,Item Count,Item Price,Total Purchase
Item ID,,,,
[92],[Final Critic],13,"[4.88, 4.19]",59.99
[178],"[Oathbreaker, Last Hope of the Breaking Storm]",12,[4.23],50.76
[82],[Nirvana],9,[4.9],44.10
[145],[Fiery Glass Crusader],9,[4.58],41.22
[103],[Singed Scalpel],8,[4.35],34.80